[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "crewai>=1.9.3",
    "fastapi>=0.128.7",
    "httpx>=0.28.1",
    "pytest>=9.0.2",
    "uvicorn>=0.40.0",
]
